/* Colors:
  #418637 - Dark Green
  #75b540 - Medium Green
  #97c260 - Light Green
  #007ACA - Darker Green
*/

body {
  background-color: #97c260;
  font-family: tahoma;
  color: black;
}

.today {
  color: #007ACA;
  font-size: 20px;
  border-left: 5px solid #007ACA;
  border-right: 5px solid#007ACA;
}

h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h4 {
  font-size: .9rem;
}

h3 {
  font-style: italic;
}
h3:first-child {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

tr:nth-child(even) {
  background-color: #75b540;
}

table {
  border-collapse: collapse;
}
table td {
  padding: 5px 3px;
}

table td:first-child {
  font-weight: bold;
}

.hide {
  opacity: 0;
}
